<!DOCTYPE html>
<html>
    <head>
      {% load static %}
        <title>{% block page_title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/css/uikit.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- UIkit JS -->


<script src="js/uikit-icons.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@3.5.6/dist/js/uikit-icons.min.js"></script>
    </head>
    <body onload="MyAudio()">
     <style>
    img{

    user-drag: none;
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
}


    </style>
    <!++++++++++++NAVBAR FOR MENU AND CART+++++++++++++++>


    <nav class="uk-navbar-container" uk-navbar style="background:black">
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">

                <li>
                    <a href="#" uk-toggle="target: #offcanvas-nav"style="color:gold" >Menu</a>

                </li>
            </ul>
        </div>
        </div>
        <a class="uk-navbar-item uk-logo" href="\"><img src="{% static 'shop/sf.png'%}" width="70vh">
        </a>




        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">
                <li>

                    <!-- This is an anchor toggling the modal -->
                    <a href="#modal-container" style="color:gold" uk-toggle>Cart</a>



                    <div id="modal-container" class="uk-modal-container" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <h2 class="uk-modal-title">Sharp Cart</h2>
        <div class="uk-overflow-auto">
         <table class="uk-table uk-table-divider">
              <tbody class="show-cart">


              </tbody>

                            </table>

                                <div>Total price: $<span class="total-cart"></span></div>

            <button class="uk-button uk-button-danger clear-cart" style="margin-top:14px">Clear Cart</button>

                                 </div>
    </div>



    </div>
                </li>
            </ul>
        </div></div>

    </div>


</nav>
     <!++++++++++++NAVBAR 1 ENDS HERE +++++++++++++++>

     <!____________HERE IS SUBNAV FOR CATRGORIES_____________>
     <div class="uk-container">
          <div class="uk-height-max-small" style="height:50%">{% block quicknav %} {%endblock%}</div>
     </div>
     <!____________HERE IS SUBNAV FOR CATRGORIES_____________>








      <div class="uk-container">
     {% block display_img %}{%endblock%}
   </div>
     {% block imgs %}{% endblock %}
     {% block product_desc1%}{%endblock%}
     {% block body%}
{% endblock %}







    <!-- Modal -->














    <!+++++++++++Off Canvas++++++++++++>
    <div id="offcanvas-nav" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Sharp</a></li>
            <li class="uk-parent">
                <a href="#">Contact Us</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Social Medias</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Mail Us</a></li>
                    <li><a href="#">Review</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Categories</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Login</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Settings </a></li>
            <li><a href="#"><span class="uk-margin-small-right trigger" id="TriggerSound" uk-icon="icon: thumbnails"></span> Soul Sound </a></li>
            <li class="uk-nav-divider"></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> View</a></li>
                <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Track</a></li>

        </ul>

    </div>
</div>
    <!+++++++++++Off Canvas Ends++++++++++++>
    <!Ads>
    {% block carausel_ads%}{% endblock%}
     {% block banner2 %}{% endblock %}
    {% block phone %}{% endblock %}
    {% block laptops %}{% endblock %}
    {% block banner1 %}{% endblock %}
     {% block banner3 %}{% endblock %}
     {% block offerzone %}{% endblock %}
     {% block address %}{% endblock %}
     {% block tracker%}{%endblock%}
     {% block paymentstatus%}{%endblock%}


<!_________________Bottom_______________________________>


     <!svg animations>

     <svg version="1.1" width="140" height="140" viewBox="0 0 320 320" fill="none" stroke="#000" stroke-linecap="round"
     xmlns="http://www.w3.org/2000/svg" class="uk-align-center" xmlns:xlink="http://www.w3.org/1999/xlink" style="display:block;align-item:center;justify-content:center" >
  <defs>
    <path id="r1">
      <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin"/>
    </path>
    <path id="r2">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+1s"/>
    </path>
    <path id="r3">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+2s"/>
    </path>
    <path id="r4">
      <animate id="p1" attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+3s"/>
    </path>
    <path id="r5">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+4s"/>
    </path>
    <path id="r6">
      <animate attributeName="d" values="m160,160l0,0 0,0;m130,110l30,-17 30,17;m130,60l30,-17 30,17;m160,20l0,0 0,0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
      <animate attributeName="stroke-width" values="0;4;4;4;0" dur="6s" repeatCount="indefinite" begin="p1.begin+5s"/>
    </path>
  </defs>
  <use xlink:href="#r1"/>
  <use xlink:href="#r1" transform="rotate(60 160 160)"/>
  <use xlink:href="#r1" transform="rotate(120 160 160)"/>
  <use xlink:href="#r1" transform="rotate(180 160 160)"/>
  <use xlink:href="#r1" transform="rotate(240 160 160)"/>
  <use xlink:href="#r1" transform="rotate(300 160 160)"/>
  <use xlink:href="#r2" transform="rotate(30 160 160)"/>
  <use xlink:href="#r2" transform="rotate(90 160 160)"/>
  <use xlink:href="#r2" transform="rotate(150 160 160)"/>
  <use xlink:href="#r2" transform="rotate(210 160 160)"/>
  <use xlink:href="#r2" transform="rotate(270 160 160)"/>
  <use xlink:href="#r2" transform="rotate(330 160 160)"/>
  <use xlink:href="#r3"/>
  <use xlink:href="#r3" transform="rotate(60 160 160)"/>
  <use xlink:href="#r3" transform="rotate(120 160 160)"/>
  <use xlink:href="#r3" transform="rotate(180 160 160)"/>
  <use xlink:href="#r3" transform="rotate(240 160 160)"/>
  <use xlink:href="#r3" transform="rotate(300 160 160)"/>
  <use xlink:href="#r4" transform="rotate(30 160 160)"/>
  <use xlink:href="#r4" transform="rotate(90 160 160)"/>
  <use xlink:href="#r4" transform="rotate(150 160 160)"/>
  <use xlink:href="#r4" transform="rotate(210 160 160)"/>
  <use xlink:href="#r4" transform="rotate(270 160 160)"/>
  <use xlink:href="#r4" transform="rotate(330 160 160)"/>
  <use xlink:href="#r5"/>
  <use xlink:href="#r5" transform="rotate(60 160 160)"/>
  <use xlink:href="#r5" transform="rotate(120 160 160)"/>
  <use xlink:href="#r5" transform="rotate(180 160 160)"/>
  <use xlink:href="#r5" transform="rotate(240 160 160)"/>
  <use xlink:href="#r5" transform="rotate(300 160 160)"/>
  <use xlink:href="#r6" transform="rotate(30 160 160)"/>
  <use xlink:href="#r6" transform="rotate(90 160 160)"/>
  <use xlink:href="#r6" transform="rotate(150 160 160)"/>
  <use xlink:href="#r6" transform="rotate(210 160 160)"/>
  <use xlink:href="#r6" transform="rotate(270 160 160)"/>
  <use xlink:href="#r6" transform="rotate(330 160 160)"/>

</svg>
     <!svg ends>

        <hr class="uk-divider-icon">


<a id="js-scroll-trigger"  href="#target" uk-icon="icon: arrow-up" uk-scroll>Move to Top</a>

<div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url({% static 'shop/b1.jpg'%})">
        <h1 style="text-align:center">Sharp</h1>




        <div class="uk-child-width-expand@s" uk-grid>


    <div class="margin-left:2rem">
        <h4 style="margin-left:2rem">Explore</h4>
        <ul class="uk-list uk-list-disc">
            <li>SmartPhones</li>
            <li>Laptops</li>
            <li>Computers</li>
            <li>Electronics</li>
            <li>Accessories</li>
            <li><input class="uk-radio audio_trigger" type="" name="radio2" checked onclick="MyAudio()"></li>
        </ul>
    </div>
            <div class="margin-left:2rem">
        <h4 style="margin-left:2rem">About</h4>
        <ul class="uk-list uk-list-disc">
            <li><img class="uk-preserve-width uk-border-circle" src="{% static 'shop/india.png'%}" width="40" alt="">
            </li>
            <li>About Sharp</li>
            <li>Legal</li>
            <li>Business</li>
        </ul>
    </div>
            <div class="margin-left:2rem">
        <h4 style="margin-left:2rem">Site</h4>
        <ul class="uk-list uk-list-disc">
            <li>Map</li>
            <li>Admin</li>
            <li>Login</li>
            <li><a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a>
                <a href="" class="uk-icon-button  uk-margin-small-right" uk-icon="facebook"></a>
                <a href="" class="uk-icon-button" uk-icon="google-plus"></a>


            </li>

        </ul>
    </div>



</div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
     <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>


        var shoppingCart = (function () {
            // =============================
            // Private methods and propeties
            // =============================
            cart = [];

            // Constructor
            function Item(name, price, count) {
                this.name = name;
                this.price = price;
                this.count = count;
            }

            // Save cart
            function saveCart() {
                sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
            }

            // Load cart
            function loadCart() {
                cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
            }
            if (sessionStorage.getItem("shoppingCart") != null) {
                loadCart();
            }


            // =============================
            // Public methods and propeties
            // =============================
            var obj = {};

            // Add to cart
            obj.addItemToCart = function (name, price, count) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart[item].count++;
                        saveCart();
                        return;
                    }
                }
                var item = new Item(name, price, count);
                cart.push(item);
                saveCart();
            }
            // Set count from item
            obj.setCountForItem = function (name, count) {
                for (var i in cart) {
                    if (cart[i].name === name) {
                        cart[i].count = count;
                        break;
                    }
                }
            };
            // Remove item from cart
            obj.removeItemFromCart = function (name) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart[item].count--;
                        if (cart[item].count === 0) {
                            cart.splice(item, 1);
                        }
                        break;
                    }
                }
                saveCart();
            }

            // Remove all items from cart
            obj.removeItemFromCartAll = function (name) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart.splice(item, 1);
                        break;
                    }
                }
                saveCart();
            }

            // Clear cart
            obj.clearCart = function () {
                cart = [];
                saveCart();
            }

            // Count cart
            obj.totalCount = function () {
                var totalCount = 0;
                for (var item in cart) {
                    totalCount += cart[item].count;
                }
                return totalCount;
            }

            // Total cart
            obj.totalCart = function () {
                var totalCart = 0;
                for (var item in cart) {
                    totalCart += cart[item].price * cart[item].count;
                }
                return Number(totalCart.toFixed(2));
            }

            // List cart
            obj.listCart = function () {
                var cartCopy = [];
                for (i in cart) {
                    item = cart[i];
                    itemCopy = {};
                    for (p in item) {
                        itemCopy[p] = item[p];

                    }
                    itemCopy.total = Number(item.price * item.count).toFixed(2);
                    cartCopy.push(itemCopy)
                }
                return cartCopy;
            }

            // cart : Array
            // Item : Object/Class
            // addItemToCart : Function
            // removeItemFromCart : Function
            // removeItemFromCartAll : Function
            // clearCart : Function
            // countCart : Function
            // totalCart : Function
            // listCart : Function
            // saveCart : Function
            // loadCart : Function
            return obj;
        })();


        // *****************************************
        // Triggers / Events
        // *****************************************
        // Add item
        $('.add-to-cart').click(function (event) {
            event.preventDefault();
            var name = $(this).data('name');
            var price = Number($(this).data('price'));
            shoppingCart.addItemToCart(name, price, 1);
            displayCart();

        });

         $('.show').click(function () {
                checkout();
         })


        // Clear items
        $('.clear-cart').click(function () {
            shoppingCart.clearCart();
            displayCart();
            checkout();
        });

        function checkout() {
         var cartArray = shoppingCart.listCart();
         var output = "";
         for (var i in cartArray) {
          output += "<div>"
           + "<div class='uk-card uk-card-default uk-card-body'>" + cartArray[i].name +"<h5 style='text-align:right'>Quantity:>"+"("+cartArray[i].count+")" + "</h5>" + "</div>"+"</div>";
        }
         $('.check').html(output);
         }






        function displayCart() {
            var cartArray = shoppingCart.listCart();
            var output = "";
            for (var i in cartArray) {
                output += "<tr>"
                    + "<td>" + cartArray[i].name + "</td>"
                    + "<td>(" + cartArray[i].price + ")</td>"
                    + "<td><div class='uk-input-group'><!button class='minus-item input-group-addon uk-button uk-button-default' data-name=" + cartArray[i].name + "></button>"
                    + "<input type='number' class='item-count form-control input' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
                    + "<! button class='plus-item uk-button uk-button-default input-group-addon' data-name=" + cartArray[i].name + "></button></div></td>"
                    + "<td><!button class='delete-item uk-button uk-button-default' data-name=" + cartArray[i].name + "></button></td>"
                    + " = "
                    + "<td>" + cartArray[i].total + "</td>"
                    + "</tr>";
            }
            $('.show-cart').html(output);
            $('.total-cart').html(shoppingCart.totalCart());
            $('.total-count').html(shoppingCart.totalCount());
            $('#amount').val(shoppingCart.totalCart());

        }

        // Delete item button

        $('.show-cart').on("click", ".delete-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.removeItemFromCartAll(name);
            displayCart();
            checkout();
        })


        // -1
        $('.show-cart').on("click", ".minus-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.removeItemFromCart(name);
            displayCart();
        })
        // +1
        $('.show-cart').on("click", ".plus-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.addItemToCart(name);
            displayCart();
        })

        // Item count input
        $('.show-cart').on("change", ".item-count", function (event) {
            var name = $(this).data('name');
            var count = Number($(this).val());
            shoppingCart.setCountForItem(name, count);
            displayCart();
        });

        displayCart();


        var cart = shoppingCart.listCart();
        var list = [];
        var a;
        for (var i in cart) {
        a=list.push(cart[i].name)
        $('#items').val(list)
        }
        {% if alert %}
        alert("Order Placed Successfully;Your Tracking Id is {{id}}")
        {% endif %}





        {% block trackscript %}
        {% endblock %}






    UIkit.util.on('#js-scroll-trigger', 'scrolled', function () {
        alert('Done.');
    });



    //code for audio


   function MyAudio(){
        console.log("Playing Sound");
            //audiogo = new Audio ("{% static 'shop/BlackWave.mp3'%}");
            //audiogo.play();
        var x = document.getElementsByClassName("audio_trigger");
        console.log(x.value);
    };







    //code for wishlist
    //code for reviewSystem


    const star1 = document.getElementsByClassName("clk1");
    const star2 = document.getElementsByClassName("clk2");
    const star3 = document.getElementsByClassName("clk3");
    const star4 = document.getElementsByClassName("clk4");
    const star5 = document.getElementsByClassName("clk5");
    $( ".clk1" ).click(function() {
   console.log("clicked")
   star1.style.background="gold";
});









    </script>









    </body>


</html>